.poke_card{
    
    width: 250px;
    /* padding: 10px; */
    margin:10px 40px;
    box-shadow: 8px 9px 14px -6px rgba(0,0,0,0.75);
    text-align: center;
    background-color: white;
    border-radius: 3px;
}

.images{
    width: 150px;
}
.pokecard_data{
    font-size: 80%;
}